:root {
    --gradient-bg: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%);
    --gray-bg: #33393f;
    --border-color: white;
}
/* Universal Selectors */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    background-color: var(--gray-bg);
}
/* Element Selectors */
header  {
    text-align: center;
}
header h1 {
    color: #e866ec;
}

footer {
    text-align: center;
}
footer h3 {
    color: #e866ec;
}
/* Class Selectors */
section.row {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    border: 3px dashed var(--border-color);
    flex: 1 0 200px;
    margin: 30px;
    flex: 1 0 0;
}

.card-title {
    border: 1px solid var(--border-color);
    color:#e866ec;
    width: 90%;
    border-radius: 5px;
    position:relative;
    margin-top: -20px;
    padding: 5px;
}

.card-body {
    color: #e866ec;
    padding: 0 15px;
}

.card-block {
    background: rgb(200, 39, 160);
  background: var(--gradient-bg);
    color: white;
    border-radius: 5px;
    margin: 25px;
}